[2020-09-20 22:56] PathToSharePoint opened #1 "Milestones"
I just started testing your Gantt solution. I like the professional, slick look.

A first thing I tried is start date = end date. In this case the task doesn't get displayed, see example with "developing":

![image](https://user-images.githubusercontent.com/40323257/93724136-5e3df000-fb59-11ea-89a2-7116af869cdd.png)

I would suggest to add a special type called "Milestone" for such tasks. It is us

[2020-09-21 07:42] MaTeMaTuK commented on #1
Hi @PathToSharePoint,
Thanks for your feedback.
I agree with you and I have a plan about tasks with very small duration. Maybe I should represent them as a box, without end and start time controls.
Milestone is also possible to do.

[2020-09-21 15:25] PathToSharePoint commented on #1
Thanks for looking into this!

I think the point of the usual diamond is to avoid confusion with short tasks, especially in monthly views. btw that brings up an interesting question (more a matter of convention): when a task starts and ends on the same day, does the duration count as one day or zero?

Another minor point, I would expect the tooltip to switch to the left of the bar for the latest t

[2020-09-21 18:23] MaTeMaTuK commented on #1
1) Diamond shape is for milestone only. Other solutions use rectangle shape as well
![image](https://user-images.githubusercontent.com/26743903/93804200-a25eec80-fc4e-11ea-85d0-1ab29678658a.png)
2) Yes. It's nice to have hour duration for diurnal task
3) I don't understand left tooltip concept

[2020-09-21 18:53] PathToSharePoint commented on #1
Sorry I should have included a screenshot. See how the tooltip gets cut off, I would expect it to automatically reposition on the other side of the bar where there is more room. The same way you auto-position above or below.

![image](https://user-images.githubusercontent.com/40323257/93808321-acf29500-fc00-11ea-9491-ce5f377934c1.png)

[2020-12-02 08:37] MaTeMaTuK commented on #1
Hi @PathToSharePoint,
I'm working on your task however I don`t have enough time until Christmas. FYI

[2020-12-02 20:31] PathToSharePoint commented on #1
Thanks for the update @MaTeMaTuK . I am looking forward to testing the next version!

[2021-02-22 14:58] shivang10 opened #2 "Milestone Diamond Shape"
I am using this library in my project but for the milestone, the diamond shape does not come. It is the same as for the issues, i.e. the horizontal bar.

![gantt chart](https://user-images.githubusercontent.com/22600838/108725528-7e307000-754c-11eb-805d-a2b3d8672f07.png)

This is the output that I am getting.
So how can I get the diamond shape?

[2021-03-26 06:42] MaTeMaTuK commented on #2
Hi @shivang10,
I'm working on milestones

[2021-03-30 12:28] MaTeMaTuK commented on #1
Hi @PathToSharePoint,
Please check the new release

[2021-03-30 12:28] MaTeMaTuK commented on #2
Hi @shivang10,
Please check the new release

[2021-03-30 16:15] shivang10 commented on #2
Thanks a lot, @MaTeMaTuK for this.

[2021-03-30 16:37] #2 closed

[2021-03-30 18:36] PathToSharePoint commented on #1
Thanks for the update, I'll give it a try. The live demo looks great!

[2021-03-30 18:36] #1 closed

[2021-04-28 16:53] james-hafer opened #4 "Limited Height"
When setting a height limit the chart loses the ability to scroll horizontally. You can view the issue on the demo page as you will not be able to scroll to 'Party Time'.

[2021-04-30 06:58] MaTeMaTuK commented on #4
Hi @james-hafer ,
Thank you for report. I will take a look.

[2021-05-03 17:36] MaTeMaTuK commented on #4
Hi,
Could you please test demo again?
https://matematuk.github.io/gantt-task-react/
If everything is fine I will publish the next version

[2021-05-03 17:43] james-hafer commented on #4
Hi @MaTeMaTuK,
Thank you for looking into this, everything appears to be working as expected!

[2021-05-03 18:34] james-hafer opened #5 "Hover Text with Single Task"
When adding in the ability to filter by owner, there is the scenario where there may be a single task on the chart. If this is the case, the hover text gets cut off. Please see screenshots attached and let me know if you need any additional detail. Thank you!

![Screen Shot 2021-05-03 at 12 25 11 PM](https://user-images.githubusercontent.com/70535908/116917257-a521b700-ac0b-11eb-8f03-2869acb4b9b8.

[2021-05-03 19:22] MaTeMaTuK commented on #4
v0.3.1 has been published to npm

[2021-05-03 19:22] #4 closed

[2021-05-11 02:21] anilkonsal opened #8 "Please add support for showing Resource thumbnail"
First of all Kudos to the developers for amazing work!

Please add support for showing Resource thumbnail like shown in screenshot
![Screen Shot 2021-05-11 at 12 20 00 pm](https://user-images.githubusercontent.com/2535407/117748439-60bd9900-b253-11eb-9625-8e3a1335e62c.jpg)

[2021-05-13 08:52] MaTeMaTuK commented on #8
Hi,
Do you mean face pile?
I'm not sure that I can do this in the near future.
Anyway you are able to override task list in gant chart

[2021-05-17 20:13] MaTeMaTuK commented on #5
Hi @james-hafer,
Could you please check the latest version.

[2021-05-20 14:35] #5 closed

[2021-05-23 15:52] bjorn-bakken opened #10 "Change progress for tasks of type "project""
This project looks great!

Is it possible to change progress for tasks of type "project"?

[2021-05-24 04:53] MaTeMaTuK commented on #10
Hi Bjorn,
Yes. You may use same progress parameter.

[2021-05-25 08:48] #10 closed

[2021-05-27 02:43] james-hafer commented on #5
Apologies @MaTeMaTuK I didn't see the update come through. I just tested though and it looks great, thank you!

[2021-06-28 18:27] SiddeshSharma commented on #8
@MaTeMaTuK  Only way to change "fill" and "stroke" color is by doing it manully in the code, i am trying to achive dark theme in it but it is impossible to overwrite those values.
Is there any other suitable way to achieve it??

[2021-06-28 20:50] MaTeMaTuK commented on #8
Hi @SiddeshSharma,
I haven't realised the dark theme. However you can modify css as well.
![image](https://user-images.githubusercontent.com/26743903/123700950-da443180-d869-11eb-9875-360b4f56a960.png)
Full custom themes support it's tricky case. So I can't add this in the near future. But this is a good topic.

[2021-06-29 03:12] SiddeshSharma commented on #8
If not for css we can have provision for custom colour for gantt that a dev can provide and we can simply overwrite it with fill and stroke properties used in creation of svgs.
I will try implementing it.....
And thanks for early reply ✌️

[2021-07-17 15:35] PathToSharePoint opened #13 "Broken arrows"
I am going to use this nice Gantt for a solution, and I have a question: why so many broken lines (see screenshot below)? Wouldn't it be easier to just go straight?
![image](https://user-images.githubusercontent.com/40323257/126041636-cfdeaa5f-8d08-4d88-9e9f-a1cf5e66c5b4.png)

I was thinking maybe something like this:
![image](https://user-images.githubusercontent.com/40323257/126041986-6096f503-c

[2021-07-21 07:39] MaTeMaTuK commented on #13
Hi @PathToSharePoint,
I will check how it looks like.

[2021-07-27 06:24] afjal-arlab opened #14 "Needed grouping of tasks based on projects"
Hi,

This is a feature request. OR if anyone already has already implemented this than please help.

**What I want to achieve:**
Grouping of the tasks based on the project. Means, I want to have collapse and expanded view of tasks based on the projects.

Example:
<img width="915" alt="Screenshot 2021-07-27 at 11 43 49 AM" src="https://user-images.githubusercontent.com/72443768/127104833-87735831-d

[2021-08-03 18:49] MaTeMaTuK commented on #13
Arrow visual fix has been published with new release

[2021-08-03 18:49] #13 closed

[2021-08-04 06:36] MaTeMaTuK commented on #14
Hi @afjal-arlab,
I will take a look

[2021-08-04 18:46] PathToSharePoint commented on #13
I checked out the live demo, looks great!

[2021-08-09 19:28] MaTeMaTuK commented on #14
Hello,
I have added visual grouping. Please check the demo

[2021-08-09 23:50] UserManagedSolutions commented on #14
@MaTeMaTuK My two cents: the result in the demo doesn't look like what @afjal-arlab was describing or what is usually done in Gantts. Usually you would expect an expand-collapse feature when there is a hierarchy (tasks within a project, or subtasks within a summary task). In the demo, the "grouping" just hides dependent tasks.

[2021-08-10 16:44] MaTeMaTuK commented on #14
Thanks, @UserManagedSolutions.
I should remove hiding for all tasks by default now 😅
Maybe the best option is keep hiding feature for project type only.
By the way, developer control component state and he able to update project record with his/her wishes

[2021-08-12 04:07] afjal-arlab commented on #14
Thanks, @MaTeMaTuK
Although, it makes sense in some cases, to hide the dependent tasks because I made those dependent on other tasks. So I'm expecting them to be connected with parent-dependent tasks.

And if your tasks are not dependent. Then it will keep hiding tasks for the project type only, which is working fine as of now.
So in both cases, it's fine whether you remove this for tasks or add p

[2021-08-12 07:17] VikariiCGI commented on #14
Good. I keep hide mechanism for project only for now.
Maybe I will extend this feature after.

[2021-08-12 07:17] #14 closed

[2021-08-18 13:51] hungga1711 opened #20 "How to custom TaskList content ?"
Is it possible to custom TaskListHeader text (change `Name, From, To` to another text) ?
And How to custom date format ? (I want to use `DD/MM` format).
Thanks.

[2021-09-03 21:19] akshatgupta02 opened #21 "Add task dynamically"
Is it possible to add new tasks dynamically or to delete tasks. Also, would be good if there is support to have scheduling tasks by priority from UI itself.

[2021-10-09 07:28] MaTeMaTuK commented on #20
Hi @hungga1711,
You can override your TaskListTable.
Examples:
https://github.com/MaTeMaTuK/gantt-task-react/blob/main/src/components/task-list/task-list.tsx
https://github.com/MaTeMaTuK/pcf-universal-gantt-chart/blob/master/UniversalGanttChartComponent/components/task-list-table.tsx

[2021-10-09 07:28] #20 closed

[2021-11-05 00:56] JuanDiegoAcostaTalos opened #24 "re render TaskList Component"
I have been using the library in a project using the component options and I have noticed that all those like the TaskList, HeaderList and the ToolTip are re-rendered on every mouse movement on the component, is there any way to avoid this, or is it an issue of the component?

[2021-11-15 17:24] hukhan19962012 opened #25 "Want to change formate month form string to number"
I just want display of Month From December to 12, how can i do that?

[2021-11-16 10:17] Gradin98 opened #26 "Show year in header"
Hello there,

It's there an option to show the year in header table above month row?

[2021-11-18 08:23] jaffery0011 opened #27 "subTask collapse issue when the subtask is in greater amount."
The issue is when we collapse the project and the subProject is in greater amount then it crashes

[2021-11-18 16:27] MaTeMaTuK commented on #26
Hi @Gradin98,
You can override the task table

[2021-11-18 16:30] MaTeMaTuK commented on #24
I will take a look next week

[2021-11-28 06:20] munibrahman opened #28 "hourly view mode?"
HI, this is a very promising library, so kudos!

I want to know if its possible to show an hourly view mode? Say from 8 am to 10 pm?

Thanks

[2021-11-28 19:10] MaTeMaTuK commented on #27
Hi @jaffery0011,
I cannot reproduce this issue. Could you please share an example?

[2021-11-30 16:47] jaffery0011 commented on #27
Hello @MaTeMaTuK
Please visit the link below and collapse the project in the graph
[https://gantt-graph.vercel.app/](url)

[2021-12-24 11:25] xonlly opened #29 "Drag and drop ordering ?"
Hello ! Nice tool 👍

Is it possible to add ordering by drag and drop system ?

I can work on this feature if it pleases 😄

Thanks !

[2021-12-25 07:04] Freem11 opened #30 "Project / Parent Relationship bug?"
Seems like the "project" parent task feature doesn't work?
I have tried the following:
project task:
 {
    start: new Date(2022, 0, 3),
    end: new Date(2022, 0, 30),
    name: Phase 1",
    id: "big",
    type: "project",
    progress: 100,
    dependencies: [],
    styles: { progressColor: "blue", progressSelectedColor: "#ff9e0d", barCornerRadius: 5 },
    hideChildren: true,
  },

child task:

[2021-12-25 07:44] #30 closed

[2021-12-25 07:46] Freem11 commented on #30
eventually sorted it, however the instructions could do with enhancing there is quite a bit im having to dig way past the current scope of the instructions to figure out that the demo shows off

[2021-12-30 00:36] Freem11 opened #31 "onExpanderClick produced error?"
Hi, I might be using it incorrectly but I have put onExpanderClick in as a props for the Gantt component and now when I manually change a "project"  hideChildren property from true to false and back it does hide/show the child task. however when I click on the actual button on the Gantt (triangle) i get the following error:

<img width="1340" alt="Screen Shot 2021-12-29 at 4 35 02 PM" src="https:/

[2021-12-30 09:45] fitterfizzle opened #32 "Import error"
Hello nice library, thanks for your work 👍

When I tried integrating it as per `README`, I get the following error

`Attempted import error: 'Task' is not exported from 'gantt-task-react'.`

This is how my import looks like

[code]

Am I missing something?

[2021-12-30 18:04] baconbro opened #33 "Infinite hierachie"
As for now hierarchies  looks like
- project A
- - tasks A1
- project B
- - tasks B1

It would be nice to have a more vanilla relationship between elements
**First solution:**
Infinite parent link :
- Project A
- - Task A1
- - Project B
- - - Task B1

**Second solution**
Custom type with infinite parent link :
- Custom Theme
- - Custom Product
- - - Project
- - - - Task
- - - - Custom story
- - -

[2021-12-30 18:08] baconbro commented on #29
I'd like that too if you can !

[2021-12-31 03:35] panjiggm opened #34 "Show Day Names (sun, mon, tue, wed, etc..) instead of number"
Hi, I want to display the name of the day, is it possible?

[2022-01-03 18:40] shrai31 opened #35 "install"
npm install gantt-task-react
![Screenshot from 2022-01-04 00-08-19](https://user-images.githubusercontent.com/44105776/147967031-ebb4cb49-8ce8-4182-8020-2dd42d761e7f.png)

[2022-01-18 10:09] sjzpengyuyan opened #36 "Is there an example of TaskListHeader、TaskListTable？"
![image](https://user-images.githubusercontent.com/51074402/149916530-2ea37b33-16cc-4ce0-83a2-ded6004cfd80.png)

[2022-01-19 14:38] MaTeMaTuK commented on #36
Hi @sjzpengyuyan ,
Please check the https://github.com/MaTeMaTuK/gantt-task-react/blob/main/src/components/task-list/task-list-header.tsx and
https://github.com/MaTeMaTuK/gantt-task-react/blob/main/src/components/task-list/task-list-table.tsx

[2022-01-19 14:47] MaTeMaTuK commented on #35
Hi @shrai31,
gantt uses old version of react. Im going to use 17.0.2 version in new release.

[2022-01-24 10:11] uVisionM opened #39 "view current date after loading page with gant"
Hi,
if i have a lot of date with startDate for example 1-1-2018, page with this gant after loading shows the start of the chart from that point on and I have to scroll to 2022.
How to display a graph, e.g. with the current month displayed after the page has been loaded?

[2022-01-30 21:36] MaTeMaTuK commented on #39
Hi,
I think it`s good idea to have the jump to now action.
I will try to add this.

[2022-01-30 22:03] MaTeMaTuK commented on #29
Hi @xonlly,
Unfortunately, this is an SVG chart. And SVG doesn't have drag and drop event. However, You can add this feature to the task list.
 Something like this https://dhtmlx.com/docs/products/dhtmlxGantt/

[2022-01-30 23:57] uVisionM commented on #39
Cool. Control scroll or cut for example to last two months also sounds ok :)

[2022-02-02 21:08] MaTeMaTuK commented on #34
Hi @panjiggm,
I can add the option for this.

[2022-02-13 22:56] MaTeMaTuK commented on #35
Hi, please try the latest version

[2022-02-13 22:56] #35 closed

[2022-02-14 08:20] MaTeMaTuK commented on #32
Hi @fitterfizzle,
Could you please try again with new version?

[2022-02-14 08:22] MaTeMaTuK commented on #34
Hi @panjiggm,
I have added day of week in several vies. Please check the latest version.

[2022-02-14 08:22] #34 closed

[2022-02-14 08:25] MaTeMaTuK commented on #39
Hi @uVisionM,
You may try new viewDate param in the latest version.

[2022-02-14 08:25] #39 closed

[2022-02-14 08:25] MaTeMaTuK commented on #28
Hi @munibrahman,
Hour mode has been added. Please check.

[2022-02-14 08:25] #28 closed

[2022-02-14 11:49] panjiggm commented on #34
hi @MaTeMaTuK,
Thanks for the update

[2022-02-15 14:39] krngd2 opened #44 "Interactive Dependancy Arrows"
It would be great, If we can add interactivity for arrows too. Drag and drop an arrow to modify dependancies or create new dependancy by dragging from a handle.

[2022-02-19 12:12] SiddeshSharma commented on #8
@MaTeMaTuK can you send me your email.

[2022-02-22 15:40] Lefevcal opened #47 "onClick event for tasks"
https://github.com/MaTeMaTuK/gantt-task-react/pull/46

[2022-02-23 06:23] jasonusdid commented on #36
Hi @MaTeMaTuK

Could you please provide a JS example of TaskListHeader/TaskListTable? I mean how to use them in JS project. As I'm using react JS but not familar TS...

Thanks

[2022-02-23 06:33] jasonusdid opened #48 "Auto adjust the time range of all tasks"
![image](https://user-images.githubusercontent.com/46767525/155271331-ae3f70bc-af47-40e2-9760-b31a015bca2f.png)

[2022-02-24 04:32] jasonusdid commented on #36
Hi,

I have created an example of TaskListTable example with JS, but the expenderClick function not work, could you please help to take a look? Thanks a lot.

table.js:
// begin
import React from "react";

export const TaskListTableDefault = ({
  rowHeight,
  rowWidth,
  tasks,
  fontFamily,
  fontSize,
  onExpanderClick,
}) => {
  return (
    <div
      style={{
        fontFamily: fontFamily,

[2022-03-01 10:11] MJmajiong opened #49 "what the mean of rtl"

[2022-03-11 10:48] MaheshMohan3856 opened #50 "Is this can be used for showing different task for a same project/maintenance in same line as below screenshot?"
<img width="644" alt="Screenshot 2022-03-11 at 4 14 57 PM" src="https://user-images.githubusercontent.com/67065413/157852783-74a59239-03cc-43e2-a98d-09449025bbd9.png">

[2022-03-13 02:59] elimist3 opened #51 "Scrolling doesn't work for touch devices"
Hello, thanks for creating this awesome library.

Is this library meant to work with touch events and mobile devices like the iPad?
When I try to scroll the gantt chart on my iPad, nothing happens. I've tried to scroll on both Safari and mobile Chrome with the same results.

Any help would be appreciated!

[2022-03-13 17:06] calag4n commented on #49
In web development's scope, RTL means _right to left_ . It's used for accessibility of certain languages like Arabic.

[2022-03-25 09:04] sumankumar72 opened #52 "Scroll to task when ser"
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/17600595/160089688-3bd8fe0e-8da0-4d78-b911-18124491eb57.png">

[2022-03-26 07:12] calin-vlasin-lateral commented on #51
I have this issue also, on mobile devices nothing happens at scrolling. Do you think that in near future a fix will be provided for this issue? Thanks and good job so far! Awesome library.

[2022-03-30 20:05] calin-vlasin-lateral commented on #51
This issue is because of
._CZjuD {
    overflow: hidden;
    font-size: 0;
    margin: 0;
    padding: 0;
}

overflow: hidden (it hides horizontall scrollbar) should be => overflow: auto.

If you are using it in a react app just override this class in index.html
 <head>
    ........
    <style>
      ._CZjuD {
        overflow: auto !important;
        font-size: 0;
        margin: 0;
        padd

[2022-04-03 08:44] TomasHubelbauer commented on #35
FYI this error still pops up in the latest release. I had to use `--use-legacy-deps` to make it work with React 18.

[2022-04-13 11:30] uVisionM opened #55 "Putting bars on one row"
Hi, it's possible ? anyone knows ? :)
![Zrzut ekranu 2022-04-13 o 13 29 35](https://user-images.githubusercontent.com/88496638/163170814-ee2cc543-0bca-40da-9710-1133d83b86f3.png)

[2022-04-26 04:22] Graeme43 commented on #21
Updating the tasks via setTasks will cause a rerender of the chart.

`  useEffect(() => {
    setTimeout(() => {
      // make copy of tasks otherwise it will not cause a re-render of chart
      const nt = [...tasks];
      const currentDate = new Date();
      // add the item to the array but could easily be updating an item
      nt.push({
        start: new Date(currentDate.getFullYear(), curr

[2022-04-26 05:33] Graeme43 opened #56 "Week numbers not reporting correct numbers"
Hello @MaTeMaTuK

After running the `npm run test` and failing on the getWeekNumberISO8601 function
![image](https://user-images.githubusercontent.com/103621811/165227182-7820ebe7-2298-4514-a4f8-0cfe16e6fd70.png)

I added code to compare the output of the function with 2 other methods of calculation of week number. Using the other methods both returned the same week number which returned the expec

[2022-04-26 06:08] Graeme43 opened #57 "Add ViewMode for year"
For projects that run over multiple years there is no way of viewing the information without large amount of scrolling

[2022-04-27 06:50] MrWorldWide101 opened #58 "is it possible to add custom columns in the task list table?"

[2022-04-27 06:52] MrWorldWide101 opened #59 "is it possible to add custom columns in the task list table?"
I am using it in a very large scale react project and the stake holders want to see planned duration and planned end date as well along with name , from and to
Is it possible to add custom columns and make them editable?

[2022-04-27 08:54] Graeme43 commented on #58
Yes, by overriding providing the default TaskListTable and TaskListHeader functions. You will need to extend the Task interface if you want to add new columns in the data that you provide. See the styling options in the documentation at the bottom [Link](https://github.com/MaTeMaTuK/gantt-task-react#stylingoption)

[2022-04-27 08:55] Graeme43 commented on #59
Yes, by overriding providing the default TaskListTable and TaskListHeader functions. You will need to extend the Task interface if you want to add new columns in the data that you provide. See the styling options in the documentation at the bottom [Link](https://github.com/MaTeMaTuK/gantt-task-react#stylingoption)

[2022-04-29 09:54] Graeme43 commented on #57
Created pull request [#60](https://github.com/MaTeMaTuK/gantt-task-react/pull/60 )

[2022-05-04 00:31] jscott11 opened #61 "Set selected task(s) via props"
Hello,

Is there anyway to set which task(s) are selected?

I have a separate task list component in my app, and when clicking an event over there, I'd like to highlight (and, ideally scroll to) the event within `Gantt`. It was simple to use `onSelect` to go the other direction, but I'd really like to be able to complete the circuit. Hoping there's something simple I'm just missing. Thanks!

[2022-05-12 10:10] lucaslz2020 commented on #50
I also want multiple tasks in one line

[2022-05-17 11:59] mayankessar opened #62 "On Hourly view mode, Date mismatch."
On Hourly view mode, Date mentioned in header is one day more than the date mentioned on task date.

[2022-05-17 12:05] mayankessar opened #63 "How to extend task with my custom component."
How to extend Task and It's Tooltip with my own custom components.

[2022-05-17 18:50] MaurilioNovais commented on #59
@MrWorldWide101 , as @Graeme43  mentioned, I created a slightly more didactic example, overwriting columns and rows, see:

Create a custom component for the columns (I created an interface following the original component's typing)

[code]

Create a custom component for the header

[code]

Use custom components by overwriting original rows and columns

[code]

The `tasks` is an array of task typed

[2022-05-22 20:23] MaTeMaTuK commented on #62
Hi @mayankessar,
Could you please add the screenshot ?

[2022-05-22 20:26] MaTeMaTuK commented on #56
Hi @Graeme43,
Thanks for your work. I have seen your request.
Unfoturanlty, During the war I cannnot work as before. But I will take a look this week.
Thanks :)

[2022-05-23 11:12] irekrog opened #66 "Is possible have in one row more than one task?"
Hi @MaTeMaTuK
Is this possible in the current version of component? Or to achieve this effect a library must be overridden?

[2022-05-24 11:50] mayankessar commented on #62
[](url
<img width="1440" alt="Screenshot 2022-05-24 at 5 17 08 PM" src="https://user-images.githubusercontent.com/19775973/170028062-98c05e5e-5724-49b5-9c24-a68293d0601c.png">
)

[2022-05-29 12:05] MaTeMaTuK commented on #56
Hi,
I have checked my method [here ](https://www.timeanddate.com/date/weeknumber.html) and it works correct.

[2022-05-29 20:31] javanocollins opened #67 "Extend date task to end of the day"
Is there a way to extend the to/end date bar to the end of the day?
<img width="904" alt="Screen Shot 2022-05-29 at 16 27 00 PM" src="https://user-images.githubusercontent.com/22412199/170890230-a1f073ea-ff67-48cb-a238-2c492cd44644.png">

[2022-05-29 20:31] javanocollins commented on #67
The bar end sat the beginning of June 3rd

[2022-05-29 20:52] javanocollins commented on #67
Issue can be fixed by add hours to date

Before:
`
const tasks: Task[] = timeoffs.map(timeoff => {
    return {
      start: new Date(timeoff.start_date),
      end: new Date(timeoff.end_date),
      name: timeoff.user.full_name,
      id: timeoff.id,
      type: 'task',
      isDisabled: true,
      styles: {
        backgroundColor: '#333366',
        backgroundSelectedColor: '#ff6633'
      }

[2022-05-30 13:07] uVisionM commented on #55
Yeah, bro, something like this :D

[2022-06-01 17:01] hexagonatron opened #68 "Error thrown when view mode is set to month and the end date is far into the future"
An error is thrown when viewmode is set to month and the end date of a task is far in the future.

`Uncaught TypeError: Cannot read properties of undefined (reading 'getTime')
    at taskXCoordinate (bar-helper.ts:274:1)
    at convertToBar (bar-helper.ts:172:1)
    at convertToBarTask (bar-helper.ts:128:1)
    at bar-helper.ts:31:1
    at Array.map (<anonymous>)
    at convertToBarTasks (bar-help

[2022-06-03 09:29] LyricalString opened #70 "Horizontal Scroll Bug"
If I create a long gantt table (it does not happen with short ones under my experience), whenever I move fast enough the horizontal scroll, the scroll bugs and goes straight and back for a few seconds and it stops.

If I use the keys, then that bug stops happening for that instance, but whenever I move the scroll back, it happens.

[2022-06-03 09:31] LyricalString commented on #70
https://user-images.githubusercontent.com/79110588/171828512-e35c07ac-3943-4722-abc2-0e60c73facce.mp4

[2022-06-08 15:10] krngd2 opened #71 "Wrong ViewMode crashing the whole web page"
While setting the basic functionality, I tried sending the ViewMode value dynamically and sent wrong values to it and it made the whole website unresponsive and crashed.

Basically sending the wrong view mode is crashing the whole webpage instead of breaking or throwing an error.

[2022-06-09 08:42] maberalc opened #72 "TaskList"
Is there a way to hide TaskListTable??

[2022-06-10 15:33] krngd2 commented on #72
Use listCellWidth
Specifies the task list cell width. Empty string means "no display"

[2022-06-10 17:49] james-hafer opened #73 "Feature Request: View Modes for 3 Month (Quarter), 6 Month (Half Year), and Full Year"
We would like to have additional view modes for tasks with longer durations. This is higher priority for us and we would like to know how we can move this up on the priority list for you.

Happy to take this conversation offline, let me know what works for you!

[2022-06-11 04:34] Alecattie commented on #70
Having the same issue

[2022-06-13 08:08] #72 closed, assigned to nobody

[2022-06-13 22:55] Graeme43 commented on #73
Hi @james-hafer

I've previously submitted a pull request for Year ViewMode #60 .

[2022-06-15 08:42] Extazykeep opened #74 "Example"
What da hell in dependencies of example? How should it works? Can't event install deps.

[2022-06-15 12:15] #74 closed

[2022-06-16 18:21] james-hafer commented on #73
Thanks @Graeme43! Is that something you want me to review and test? I see it's been sitting there for a while.

[2022-06-24 14:09] garimahans15 opened #75 "Namespace 'React' has no exported member 'SFC'. TS2694"
Hi @MaTeMaTuK
I am facing this error while installing this library. This is happening while installing `view-switcher`

cc  @Janlaywss @VikariiCGI @lisaavikarii
[code]

[2022-06-24 14:34] Janlaywss commented on #75
What's your `react` and `react-dom` version?

[2022-06-27 05:34] garimahans15 commented on #75
Thanks. It worked.

[2022-06-27 08:17] suniltayal commented on #75
Hi,
We are able to render switcher tool bar but still there is an error in the file. It is saying React has no exported member of FC and tool bar is having very bad css rendered.

![image](https://user-images.githubusercontent.com/5518234/175893078-987cea3d-004b-4160-b83d-29f4d2c802ae.png)

[2022-06-27 09:03] MaTeMaTuK commented on #75
Hi @suniltayal ,
What is the react version ?
Have you use import "gantt-task-react/dist/index.css"; ?

[2022-06-27 09:32] suniltayal commented on #75
Hi MaTeMaTuk,

My react version is "react": "^16.14.0",
and yes I have imported "gantt-task-react/dist/index.css"

[2022-06-27 12:42] suniltayal opened #76 "Calendar header is not rendering"
Hi Team,

I am getting issue with rendering calendar header.
I am using below versions

"react": "^16.14.0",
"react-dom": "^16.14.0",
"@types/react": "^18.0.14",
"@types/react-dom": "^18.0.5",
![image](https://user-images.githubusercontent.com/5518234/175944078-2966af37-b9f1-4874-a0d8-da3b2c1ca559.png)

[2022-06-27 13:06] suniltayal commented on #76
Hi,
Thank you the contribution.

Is there any way where I can associate an icon with each row item.
so basically I want to prefix the icon where image tag is present.

<image> Idea
<image> Research
<image> Discussion.
<image> Developing.
etc.
Thanks in advance.

[2022-06-28 14:53] suniltayal opened #77 "Feature Request: need to add image for each task or work item"
Hi @MaTeMaTuK @Janlaywss @VikariiCGI @lisaavikarii ,

Thank you for the contribution.

Is there any way where I can associate an icon with each row item.
so basically I want to prefix the icon where image tag is present.

<image> Idea
<image> Research
<image> Discussion.
<image> Developing.
etc.
Thanks in advance.

[2022-06-29 06:47] jasonusdid opened #79 "Uncaught RangeError: Invalid array length at Array.concat (<anonymous>)"
Hi,

I created a project task with many sub project/task, but when collaps the top project, it failed and showed below error. Please help to check. Thanks.

![image](https://user-images.githubusercontent.com/46767525/176369860-b918b130-56f8-4269-b312-d54a90edbb52.png)

![image](https://user-images.githubusercontent.com/46767525/176369978-d72b174a-ee11-4138-b29b-2f6e3f60d419.png)

[2022-06-29 12:23] WillCDev opened #80 "Add Min and Max date boundaries to limit where timeline items can be dragged to."
### Feature Request

As a user I would like to be able to physically limit the **min** and **max** dates to which I can drag a given item within the chart.

### Example use cases

a) My chart represents a project with a fixed time scale, and I want to limit users from moving items on the chart outside the bounds of the project start and end.

b) I have a 'project' item on the chart with multiple c

[2022-06-30 10:07] maberalc commented on #79
Solved it changing in file other-helper.ts in method getChildren, this:

var taskChildren = tasks.reduce(function (children, t) {
    return children.concat(children, getChildren(taskList, t));
  }, []);

For this:

  var taskChildren: Task[] = [];
  tasks.forEach(t => {
    taskChildren.push(...getChildren(taskList, t));
  })

I have not fully tested this solution, but I guess it's doing the same

[2022-07-04 02:02] jasonusdid commented on #79
Thanks for the quick fix.
How can I integrate the fix in my project please? I have updated the package, it's still v0.3.8... and tested the function it still error out with the same reason.

Thanks.

[2022-07-04 16:54] ChromeGG commented on #80
@MaTeMaTuK can you help us? Or should we create a PR with a solution and then you could merge it?

[2022-07-05 07:24] maberalc commented on #79
You have to build this package, then I had to delete node_modules (I was using create-react-app to test this library) and reinstall everything. Then change the new build in /node_modules/gantt-task-react/dist directory with the files in dist folder (created after build). Then when you use npm start, it should be okay.

[2022-07-06 05:57] suniltayal commented on #77
Hi @MaTeMaTuK @Janlaywss @hexagonatron @VikariiCGI

Any update on icon rendering with each row item?
Please help

Thank you in advance,
Sunil

[2022-07-06 06:48] maberalc commented on #77
I think you should dive into task-list-table component. You can check there that chevron is being rendered conditionally, so you should check there. If you cannot assign the Icon just with actual task type, you can edit it in types/public-types.ts .

I hope it helped.

[2022-07-06 09:21] suniltayal commented on #77
Thanks for your reply. Could you please provide working example to render the icon.

[2022-07-06 12:50] maberalc commented on #77
I'm sorry but can't now. I haven't got enough free time. I'm working with this library but I'm focusing on other things. If I do it, I'll share here.

[2022-07-08 06:00] clementloridan opened #82 "[？Question] : Why did you choose this structure ?"
Hi,

Why did you choose the structure of tasks flattent?

And why not to go on the gantt logic structure: Project > Task/Milestone > SubTask:

`
const tasks = [ { id: 'Project #1', type: 'project', tasks: [{ ..., subTasks: [...] } ]]
`

[2022-07-08 11:03] suniltayal opened #83 "Can we customize the task list column"
Hi @MaTeMaTuK @Janlaywss @hexagonatron @VikariiCGI @lisaavikarii

Is it possible to customize the task list column.
I would like to hide from and to column

![image](https://user-images.githubusercontent.com/5518234/177980301-172cfc07-7ae2-44a9-a87a-2687dcd6093e.png)

[2022-07-10 14:11] MaTeMaTuK commented on #70
@LyricalString Could you please take the latest version and check?

[2022-07-10 14:12] MaTeMaTuK commented on #49
@calag4n thanks

[2022-07-10 14:12] #49 closed

[2022-07-10 14:13] MaTeMaTuK commented on #57
@Graeme43  thanks again :)

[2022-07-10 14:13] #57 closed

[2022-07-10 14:13] #70 closed

[2022-07-10 14:16] MaTeMaTuK commented on #51
I have modified scroll and tested on iPad mini.
Maybe I will add toch options in the future

[2022-07-10 14:16] #51 closed

[2022-07-10 14:16] #73 closed

[2022-07-10 14:16] MaTeMaTuK commented on #73
Change has been merged

[2022-07-10 14:17] MaTeMaTuK commented on #75
I have updated react version. Please check

[2022-07-10 14:17] #75 closed

[2022-07-10 14:19] MaTeMaTuK commented on #62
Fixed and publiched

[2022-07-10 14:19] #62 closed

[2022-07-10 14:19] MaTeMaTuK commented on #47
Marged and publiched. Thanks !

[2022-07-10 14:19] #47 closed

[2022-07-13 13:02] suniltayal opened #86 "Reactjs version of gantt-task-react component"
Hi @MaTeMaTuK ,

Do you have working example of gantt-task=react component with React js. We are not familier with typescript. so getting trouble in customizing the component for tooltip, headerList and taskList component.

Great thanks,

[2022-07-14 07:25] MaTeMaTuK commented on #86
Hi @suniltayal,
What is about this one https://github.com/MaTeMaTuK/gantt-task-react/blob/main/src/components/other/tooltip.tsx ?

[2022-07-14 09:06] #83 closed

[2022-07-14 13:53] suniltayal opened #88 "Customize to gantt chart"
Hi @MaTeMaTuK

I would like to modify few changes in the gantt chart. Could you please help me to do so

1)  Want to add an icon for each row
2) Want to hide From & To column
3) Currently the text and tooltip in the Bar refers to the name of the task. Is it possible to show the title differently in the bar?

It will be great if you provide the solution in JS code.

![image](https://user-images.git

[2022-07-18 09:46] suniltayal opened #89 "Change the barBackgroundColor based on condition"
Hi @maberalc @MaTeMaTuK @Janlaywss @hexagonatron @VikariiCGI

I want to change the barBackgroundColor based on condition.
Inline is allowing me to pass only progressColor and progressSelectedColor
styles: { progressColor: '#ffbb54', progressSelectedColor: '#ff9e0d' }

Please let me know how I can set individual bar background color differently?

Thank you,
Sunil

[2022-07-19 06:32] suniltayal commented on #86
Hi @MaTeMaTuK ,

Can you please provide us working example of the tooltip and task list table.
After creating custom tooltip where and how to call this component with Gantt component.

[2022-07-25 02:47] Egzscure opened #92 "unlike demo scroll not visible except on hover"
In the demo i can always see the scrollbars (vertical and horizontal) however in the component it doesnt show the scrollbars unless i hover my mouse.

I managed to make the horizontal scroll bar like the demo, but i cant get the vertical one to stay visible like in the demo, im using the latest version.

Why is that?

[2022-07-25 14:32] suniltayal commented on #88
Hi @MaTeMaTuK,

Can you please help on the above query?

[2022-07-26 09:11] MaTeMaTuK commented on #92
Hi @Egzscure,
Do you use Chrome on PC ?

[2022-07-26 09:14] MaTeMaTuK commented on #88
Hi @suniltayal,
Have you tried to create your own table list?
Do you have project with react and TS?

[2022-07-26 09:24] Egzscure commented on #92
Yes, i managed to make it work with some css tweaking but its not the same as the demo

[2022-07-26 09:33] suniltayal commented on #88
Hi @MaTeMaTuK
We are using react js. I wanted to know, how to create our own table list component and how this new component will be called in Gantt container.
<Gantt
        tasks={tasks}
        viewMode={view}
        onClick={handleClick}
        onExpanderClick={handleExpanderClick}
        onSelect={handleSelect}
        listCellWidth={"200px"}
        columnWidth={columnWidth}
        fontF

[2022-07-26 09:41] MaTeMaTuK commented on #92
Could you please try to reproduce on sandbox ?
https://codesandbox.io/s/vigilant-star-fxy36r?file=/src/App.tsx

[2022-07-26 14:36] MaTeMaTuK commented on #88
Hi @suniltayal,
I guess it will be better if you will write me in email and I we will book the meeting.

[2022-07-26 14:57] suniltayal commented on #88
Hi @MaTeMaTuK ,
Thank you for your response.
Can you please provide me your email address or please test me @ suniltayal@gmail.com
I will send you detail about the plan.
Thank you.

[2022-08-01 06:32] suniltayal commented on #88
hi @MaTeMaTuK ,
please share your mail id.

[2022-08-01 12:43] srknnn opened #93 "How can i change TaskListTable color?."
Hi I have a  problem about to change color of the  TaskListTable component or gantt component color? Both this two option dont exist. Color change options are only available in the progressbar and tasks.
Can you help me about that?

[2022-08-01 13:34] Maksketch opened #94 "onExpanderClick breaks if tasks loops dependancy"
If tasks is looped like in image below it breaks when you hideChildren on project.
![image](https://user-images.githubusercontent.com/58263418/182158743-40c6969d-0b05-4233-a674-cb41e1994072.png)

This is the error:
![image](https://user-images.githubusercontent.com/58263418/182159153-9b75fc5c-5d3a-47ae-8699-7fbbaa9480f4.png)

[2022-08-01 13:40] Maksketch commented on #93
TaskListTable is fairly customable, since you can build it from scratch and override the default.
Check some of the answers in here:
https://github.com/MaTeMaTuK/gantt-task-react/issues/59

(You can build your own html-elements with css styling, instead of using Bootstraps, Row and Col)

[2022-08-01 16:49] Egzscure opened #95 "drag and drop on the gantt timeline"
hi, is it possible to enable drag and drop on the timeline, so i dont always have to go to the scrollbar?

thank you

[2022-08-02 10:03] srknnn commented on #93
Thank you

[2022-08-02 10:03] #93 closed

[2022-08-02 12:35] Maksketch opened #96 "Scroll position on "Today""
Hi MaTeMaTuk

Is it possible to add a setting where 'by default', the scrollbar-position is on "Today", for proper usability?
I tried to override the scrollbars start-position with js, however it appears the scrollbar is not "just" a scrollbar around the parent element.

Hope to hear from you soon.

[2022-08-03 06:44] mashalworkaccount opened #97 "How to set a range for progress from example from 10 to 50"
it is necessary sometime to start the progress not from 0

[2022-08-04 10:15] Kszysiek commented on #66
Hey @irekrog did you manage to add more than one task in a single row?

[2022-08-04 12:20] irekrog commented on #66
@Kszysiek
Nope, in gantt-task-react it is not possible. I think you can use this code and rewrite it. LICENSE is MIT so you can.

[2022-08-04 12:57] MaTeMaTuK commented on #66
@irekrog, You able to modify chart from fork.
And I don't have plans for few items in the row for now.

[2022-08-05 06:59] MaTeMaTuK commented on #97
Hi @mashalworkaccount,
You are able to set item progress by own.
https://github.com/MaTeMaTuK/gantt-task-react#task

[2022-08-05 07:02] MaTeMaTuK commented on #96
Hi @Maksketch,
Have you tried to use viewDate in https://github.com/MaTeMaTuK/gantt-task-react#displayoption  ?

[2022-08-08 10:27] srknnn opened #98 "How can I create the hierarchy of the data?"
Hi,
I want to group my taskList and I want to expand  the task as the group. But expander icon disappears because of I overrided the TaskListTable component. How can I do this?

My TaskListTable is like that;
const TaskListColumn: React.FC<ITaskListColumn> = ({ tasks, fontFamily }) => {
  return (
    <div>
      <Card className="custom-card" bodyStyle={{ padding: "0" }}>
        {tasks.map((item)

[2022-08-08 13:52] #98 closed

[2022-08-08 15:06] #66 closed

[2022-08-12 07:18] Maksketch commented on #96
Hi MaTeMaTuK
Thank you for the response! That was exactly what I was hoping for :)

[2022-08-12 07:18] #96 closed

[2022-08-12 10:53] srknnn opened #101 "Extend date problem If start and end date are same."
Hi,
I have a problem about date range changing if start and end date are same.
I can drag all bar in this case but I want to extend from start or end date. I cannot see the drag arrow
Can you help me about this. Thank you.
<img width="358" alt="image" src="https://user-images.githubusercontent.com/23223573/184339903-a9addc8d-2674-4fb6-870a-30976e0d311f.png">

[2022-08-12 11:22] kagansari commented on #101
+1

[2022-08-12 15:39] srknnn opened #102 "how to progress drag property disabled?"
Hi,
Is there any way to disable the drag property of the progress?

[2022-08-16 15:40] zangguojun opened #103 "Some suggestions for functions that cannot be realized by the project"
Hi MaTeMaTuk
**I found that there are two very common functions, but the project cannot realize them.**
1. Many Gantt diagram components have defined the start and end time of the project.(Yours is Unlimited Right Scrolling)
eg: react-gantt(https://github.com/clayrisser/react-gantt)'s  leftBound and rightBound
2. Cant Specifies the Table's Top Date Part.(The DisplayOption.locale option can not ful

[2022-08-17 07:29] Kevin-Raptor opened #104 "Change Arrow colors to depict critical path"
Please provide an option to pass a color to the arrow drawn by the dependencies so that the critical path can be highlighted

[2022-08-18 21:32] nwoodr94 commented on #71
I also encountered this issue. I set `viewMode="year"` and the app crashes.

It's case sensitive, presumably because the documentation says it uses an enum behind the scenes.
`viewMode="Year"` resolved my issue

[2022-08-21 08:33] Graeme43 commented on #56
Hi @MaTeMaTuK,

I guess that leaves the question as why the tests fail with the 20 Jun 2020 test for me

[2022-08-21 08:38] Graeme43 commented on #101
The date of the item can have time component. If you set the end date to 12/8/2020 23:59:59, does that work for you?

[2022-08-21 09:46] Graeme43 commented on #94
Pull request submitted to fix issue, but this issue should not happen as a task should not be a dependency of child

[2022-08-21 10:00] Graeme43 commented on #104
Can you use the task styles.backgroundColor to show the critical path rather than the arrow?

[2022-08-21 10:04] Graeme43 commented on #102
If you do not include the onProgressChange property it will automatically not show the progress drag indicator

[2022-08-21 11:29] Graeme43 commented on #101
Ok I see the issue. When the bar is too small to be rendered with the correct width for the duration of the task the element is rendered as a "smalltask" that is the width of the 2 date drag handlers but does not show the start and end drag handles.

[2022-08-21 11:35] Graeme43 commented on #89
The task allows for the background color to be set  in the styles for the task
[https://github.com/MaTeMaTuK/gantt-task-react#task](https://github.com/MaTeMaTuK/gantt-task-react#task)

[code]

[2022-08-21 11:53] Graeme43 commented on #71
You should be able to add an errorboundary which should stop the error from crashing the whole website

[2022-08-22 02:40] zhangwuyang-github opened #107 "npm start error"
![image](https://user-images.githubusercontent.com/82797771/185827886-a6403081-b3ab-4e8b-9b5a-97b0cc388967.png)
I have forked your main branch code, cd example, npm i, npm start. But it looks doesn't work well.

[2022-08-23 12:16] maberalc opened #108 "onDateChange fires twice just on first task movement"
Does this behaviour happens to you from 0.3.9? I just noticed now and I don't if it has something to do with my project or is it just a bug to resolve. Tried with both 0.3.8 and 0.3.9 on CRA and just the latest is doing such strange thing to me.

[2022-08-23 18:09] srknnn commented on #101
@Graeme43  is there any solution about it? Because for the begining, start and end dates can be same.

[2022-08-25 08:03] srknnn commented on #102
Yes it works Thank you

[2022-08-25 08:03] #102 closed

[2022-08-25 09:40] Graeme43 commented on #101
The only way to stop this behaviour is to add a flag like `disableSmallTask` that would stop the conversion of tasks into smalltasks. @MaTeMaTuK what do you think?

[2022-08-25 09:41] Graeme43 commented on #108
Does it happen on the example project?

[2022-08-25 09:42] Graeme43 commented on #107
Have you built the main branch code as well?

[2022-08-25 16:37] maberalc commented on #108
Mmm, so I didn't try it before but on console, you can see that first time is logging twice.

[2022-08-25 17:23] parameswaranvinayagam opened #109 "Highlight current month"
Hello @MaTeMaTuK

I would like to modify few changes in the gantt chart. Could you please help me.

If year is selected then the current month should be highlighted for the entire column (From Top to Bottom). I have attached the screen shot for your references.

![image](https://user-images.githubusercontent.com/70222462/186728977-94510b1d-4639-41c1-a035-1f9d80decfde.png)

It will be great if you

[2022-08-28 17:59] darewreck54 opened #110 "Support for View.Mode Minutes?"
Hi,

I was wondering if it's possible to support a view mode based on minutes or based on just the duration of the total end time minus the start time of all the task?

Thanks,
Derek

[2022-08-28 18:06] darewreck54 opened #111 "How to disable the"
Is it possible to disable
- the `Name, To, From` section and only display the gantt chart?
- The `percent` field
It wasn't clear from the Readme and display options if this was possible?

<img width="1240" alt="image" src="https://user-images.githubusercontent.com/16171726/187088335-59f7ed9f-a86f-44d9-9e6c-6455b3e0c26e.png">

Thanks,
Derek

[2022-08-28 19:32] darewreck54 commented on #111
Looks like i can hide the `Name, From, To` with

[code]
 But still trying to figuring the `percent`

[2022-08-28 20:05] darewreck54 commented on #111
https://github.com/MaTeMaTuK/gantt-task-react/blob/main/src/components/other/tooltip.tsx#L140-L143 looks like if you set `task.progress` to be undefined it should work.

However, the typescript is not optional

<img width="633" alt="image" src="https://user-images.githubusercontent.com/16171726/187092451-1cec2b19-aa51-413e-aebf-50540cdfb915.png">

[2022-08-28 20:34] darewreck54 commented on #111
I can override it with, but be nice if i can just pass in a undefined for `progress` but not sure if there is other code that depend on it like the coloring.

[code]

[2022-08-29 18:14] darewreck54 commented on #110
@maberalc I can try to add this code, but may need some pointers.

I took a look at these changes https://github.com/MaTeMaTuK/gantt-task-react/pull/105, but there some parts not clear to me.

Specifically, the `getCalendarValuesForHour` and how where the `bottomValues`, `topPosition`, `topValues` calculated and how you factor the scaling into place.  If you could give me some guidance that would

[2022-08-29 18:15] darewreck54 commented on #110
@m

[2022-08-29 18:40] darewreck54 commented on #110
- `columnWidth` is 60, so in view mode minute, this would mean minute is = 60 width
- date.getMinutes() returns 0-59, so wouldn't top position be a one to one mapping?

so
[code]

I think the problem thou is that the current data can exceed the width of the whole gantt chart....which might cause the current component to crash...

[2022-09-01 09:47] muniyandibg opened #112 "Queries on highlight, filtering, tooltip, exporting and printing"
Hi, Thank you for this awesome library.
We are trying it in our project.

Can you please give clarification or guidance on these points?

1. How to highlight weekends and other holidays. will the holiday hours included or excluded in the task.
2. Can we filter the tasks.
3. Can we add remarks and descriptions to the tooltip
4. Can we export the chart to formats like pdf, csv, jpg
5. Can we print t

[2022-09-07 10:38] 15933352289 commented on #107
I have the same problem
![image](https://user-images.githubusercontent.com/32945644/188857985-b795d5b3-aaf6-4d0d-80cb-3b73af740289.png)
![image](https://user-images.githubusercontent.com/32945644/188858068-e7591129-28dd-4c29-ac3d-95320130a1b1.png)
I have built the main branch code .
node v is 14.16.0

[2022-09-08 11:29] Kevin-Raptor commented on #104
I could, but would prefer to use the arrows

[2022-09-08 12:17] szogun1987 opened #113 "Allow customize Calendar element"
I would like to be able to replace Calendar element. I have 2 requirements that are not doable with current API.
1) I need to display Quarters in the calendar
2) I need to display abbreviated months names instead of full ones.

[2022-09-09 08:26] suniltayal opened #114 "Chart plotting seems to be incorrect"
Hi @maberalc , @MaTeMaTuK , @Janlaywss , @hexagonatron , @VikariiCGI

I am getting issue with chart plotting. It is always plotting one day lesser than the given date.
Lets take the example of demo
Start Date is 1st Sept and End date is 15th Sept.
So I believe my sprint duration is for 15 days and not for 2 week.
I wanted to plot the chart till 15th Sept but in the example it is plotting till 14th

[2022-09-12 05:39] Arjit-Shivansh commented on #112
Sorry for the less information

[2022-09-12 05:50] Arjit-Shivansh commented on #107
Let me know which version of react & react-dom you are using

[2022-09-12 06:37] Arjit-Shivansh commented on #114
So I got your point but actually the calculations are done as per next Day Date i.e. if the start is 1st Sept then 15 days = 15 Sept will be the end Date
In this if you want a perfect solution then if you can calculate the end date as 14 august 23:59:59 then what you want might work

[2022-09-12 06:45] Arjit-Shivansh commented on #101
What you want to implement please explain and then I can give a solution for this.

[2022-09-12 11:07] suniltayal commented on #114
Still it will break the calculation. If I keep start date  as 1st Sept and end date is 14th sept.

It will show correctly in the task list column from 1st sept - 14th Sept

but again it will be plotting wrong chart, it will be till 13th Sept, Also calculation mismatch in tooltip by 1 day.

[2022-09-13 11:02] srknnn commented on #101
Actually I explained on this link https://github.com/MaTeMaTuK/gantt-task-react/issues/101#issue-1337055888
İf I dont have any time differences between start and end date, I cannot drag bar to extend. Could i explain? if you ask me this question? @Arjit-Shivansh

[2022-09-15 12:36] muniyandibg commented on #112
Thanks for your response.

I have tried weekendColor and holidays array. but its not getting highlighted.
Can we customise the tooltip to show custom texts like remarks and descriptions.
Can you please suggest some code sample for the above?

Thank you.

[2022-09-15 12:43] muniyandibg commented on #112
@Arjit-Shivansh Thank you so much for your response.

I have tried weekendColor and holidays array. but its not getting highlighted.
Can we customise the tooltip to show custom texts like remarks and descriptions.
Can we customise the date object display format?
If possible please suggest some code sample for the above

Thank you.

[2022-09-15 13:15] suniltayal opened #115 "Horizontal issue for chart"
Hi @MaTeMaTuK

I am using gantt chart with unlimited height. when I have too much data, then scrollbar is getting set at the bottom of the element.
I would like to show  horizontal scrollbar at the bottom of screen, not at the bottom of element.

Any thought on this.

Thank you,

[2022-09-20 01:46] 15933352289 commented on #107
"react": "^18.2.0",
"react-dom": "^18.2.0"

No configuration was modified after the project was pulled down
when i yarn start, These errors occur

[2022-09-20 10:10] louiszen opened #116 "Unexpected empty root <div/>"
![image](https://user-images.githubusercontent.com/23355007/191229811-0ffcffbb-cf78-4a1d-b642-09ea047be52b.png)
The component generates an empty <div> tag on the root, which causes overflow issues when is used under other components.
It is expected with style {width: 100%, height: 100%}.

[2022-09-25 08:16] natocTo commented on #110
I would love to see minutes view as well. Did you figure it out?

[2022-09-27 14:05] vicente23 opened #117 "Customize the display/css of headers"
I'm looking to customize the headers:
- Show/hide a header
- Apply a css class according to the header

![image](https://user-images.githubusercontent.com/36680163/192545978-5b6adcf0-c234-4fe1-b2ec-53e17e233dd5.png)

I tried the `listCellWidth` style option but it applies the same css to each header.
Also, I saw that the same CSS class was applied to each header (_WuQ0f).

I didn't find any exampl

[2022-09-28 10:12] vicente23 opened #118 "Customize the content of the popup on a click"
I'm looking to customize the content of the popup on a click.
I would like to add and remove some information.

![image](https://user-images.githubusercontent.com/36680163/192753025-34000480-2116-497c-9e50-01ed66154110.png)

Is there a way to do this?

Thanks for your answers

[2022-09-30 05:02] muniyandibg opened #119 "How to add resource to a task"
Can we add a resource to a task?
Like assigning the task to a team member.

[2022-09-30 19:03] Arjit-Shivansh commented on #112
Do you successfully able to color the weekends if yes then good

[2022-09-30 19:06] Arjit-Shivansh commented on #114
Let say you have start : 1 sept & 0 hours
the 14 days will be :

[2022-10-05 06:55] szogun1987 opened #120 "Year is not fully displayed when calendar starts in July"
![image](https://user-images.githubusercontent.com/7465665/193999056-c045e12a-06fa-4683-93cb-a8090e858de6.png)

[2022-10-10 12:27] delcacho opened #121 "Add new view modes with finer resolution"
Hello, would it be possible to include ViewMode Minute and Second?

Thank you,
Carlos

[2022-10-18 22:36] lems3 commented on #33
Hi. We have the same idea here. I don't know if you worked on this, on our side we plan on setting up routes so we can "dig" in each project.

So, following your example, we would click Project B and send the user in a new gantt chart that shows project B and all tasks in it.

Our hope is to be able to build this in a way that navigation between levels would feel smooth enough that people won't no

[2022-10-19 11:14] lordphnx commented on #115
Quick local fix for me, just add a little bit of CSS
[code]

[2022-10-19 13:23] suniltayal commented on #115
this is dynamic class ._2k9Ys, so can not rely on this.

I did below work around for this to fix.
Added ganttHeight function to component

<Gantt
          tasks={tasks}
          viewMode={view}
          onExpanderClick={handleExpanderClick}
          listCellWidth={"200px"}
          columnWidth={columnWidth}
          fontFamily={"Roboto"}
          onClick={props.clickHandler}
          TaskL

[2022-10-20 15:17] baconbro commented on #33
No I did not work on that feature for now.

[2022-10-20 15:17] baconbro commented on #33
oups not closed

[2022-10-21 18:55] F-Arzuaga opened #125 "Define length of chart after last task/milestone/project"
Hello, would it be possible to include a new global attibute to define how many hours/days/etc. are shown after the date of the last task/milestone/project?

Right now 19 days or 66 hours are added after the last task, as shown here

![Example 1](https://user-images.githubusercontent.com/108815637/197268628-736ba450-f08c-4a2d-83ce-dc5a65c36ed8.png)

There is a lot of unused space that cannot be re

[2022-10-28 10:01] sanderdesnaijer commented on #118
With the prop `TooltipContent` on `Gantt` you can add a custom tooltip, and set everything you need.

[2022-10-31 10:26] Leocete opened #126 "Use MUI table as TaskListTable"
Hi @MaTeMaTuK! Thank you for such an awesome library - I like it a lot!
I have a small question regarding `TaskListTable` component - is there any way to use MUI tables as `TaskList` table?
For example - https://mui.com/x/react-data-grid/#commercial-version

[2022-11-02 06:12] muniyandibg opened #127 "what can we do incase of End Date is not yet available"
Is it mandatory to provide Actual End date?
Any of the activity should be visible with Actual start date only.
One could update later actual end date and then bar will be visible accordingly.

Is it possible to display a task if End date not available.

Thank you.

[2022-11-08 03:52] DanielChen93 commented on #110
Hi @natocTo , have you find solution yet? Thanks!

[2022-11-08 03:55] DanielChen93 commented on #121
same question here

[2022-11-08 06:03] natocTo commented on #110
I ended up with own solution based on D3. It Is hardcoded in our codebade now.

[2022-11-11 14:04] ccamacho opened #133 "Usage questions"
This is a great Gantt chart! Thanks for the hard work, but I have some usage questions.

Is it possible to resize the Gantt chart to an specific width?
Is it possible to remove the From and To columns?
Im using the 0.3.8 version

Thanks!

[2022-11-14 15:31] ayozebarrera commented on #116
Same problem here!

[2022-11-15 08:32] ayozebarrera opened #135 "Unable to use on a flexible wrapper"
Hi!

I was trying to use your gantt inside a container with a dynamic width but I failed. It always renders with a higher width and only if I specify a fixed width, it works.

Do you have any guide to achieve it?

Thank you!

[2022-11-15 08:47] MatthewHazeTrinh commented on #133
**If you want to remove the From and To columns, you can do the following:**

You can copy paste this component: https://github.com/MaTeMaTuK/gantt-task-react/blob/main/src/components/task-list/task-list-header.tsx

And this: https://github.com/MaTeMaTuK/gantt-task-react/blob/main/src/components/task-list/task-list-table.tsx

Comment out or remove the divs as shown below:
![image](https://user-ima

[2022-11-15 13:20] Ankit10Kumar commented on #58
can you give an example code , because I didn't understand what you said above.

[2022-11-17 16:57] alex-damico commented on #107
I've had the same problem.
Updating Node to v18.12.1 fixed the issue.

It seems that the library is compiled with a node version greater than 14.

[2022-11-21 12:05] suniltayal opened #138 "Unable to change date for the item type define as project"
Hi @MaTeMaTuK ,

onDateChange functionality is not working for the item type which are defined as a "project".
It is only working for task type.

Also in day view, not able to change the start date more than 1 day.

Can you please look in to this and help?

![image](https://user-images.githubusercontent.com/5518234/203049016-a26c04ef-454c-4cee-9f77-84270a6ffbaf.png)

[2022-11-22 14:30] vtaits opened #139 "Feature request: drawing arrows from task to task"
You can see an example here.

https://d-band.github.io/gantt/

When you hover over the task, two circles appear: on the left side and on the right.

You can drag the line into another task or milestone. If it was successful, a new callback will be called (like `onDependencyAdd`).

I can do it and make PR.

[2022-11-22 17:26] MusabShakeel576 commented on #52
@MaTeMaTuK I'll create a Pull Request for it, please assign this issue to me.

[2022-11-23 17:01] HariKishore7 opened #141 "Dependency issues when deleting a task"
Hi, it's nice working with Gantt chart library.

I have seen that when I delete any of the task, the dependency is getting crashed, could you please look into that.

Here I'm trying to delete the Research task,
<img width="960" alt="image" src="https://user-images.githubusercontent.com/73545372/203604497-4e6a753c-e6e5-4819-b43b-08fdffe17c9d.png">

After deleting the task, the dependency tree was n

[2022-11-24 09:22] nachovoss commented on #118
Could you proivide an example of how to do it? thanks!

[2022-11-24 09:30] MatthewHazeTrinh commented on #118
@vicente23 @nachovoss

Create a new component, for example like this:
[code]

Add it to the properties of the Gantt component like this:
![image](https://user-images.githubusercontent.com/117746862/203747484-46f0a9d5-b251-4674-a8ec-407421844bf9.png)

And it can look something like this:
![image](https://user-images.githubusercontent.com/117746862/203747291-73799e2a-0de3-47b4-be11-acab68336fb0.png)

[2022-11-25 06:42] nachovoss commented on #118
That's amazing thanks!!

[2022-11-28 09:56] thegliche commented on #133
Hello Can one have multiple tasks on one row?

[2022-11-30 06:25] RossCoeH commented on #139
Seems useful to me ( but I am not part of project team).
If you do, then I think you should include verification so that you cannot break the chart by creating a circular dependency where item becomes dependent on a child item.

[2022-11-30 19:23] vtaits commented on #139
@RossCoeH

I decided to fork project and add new features myself.

https://github.com/vtaits/gantt-task-react

This feature is already done in `dev` branch.

I need some other features (critical path, comparison with base and other). I will publish this when all features are done.